<h1> <=% @tvshow.name => characters!</h1>
<p>I've got <%= @characters.count %> characters ready to go!</p>
<%= link_to "New character", new_character_path %>
<% @characters.each do |b| %>
  <ul>
    <li>
      
      
      name: <%= link_to character_path b do %>
      <strong><%= b.name %></strong>
      <%end%>
      description: <%= b.description %>
      

 
            <%= link_to 'Delete', b, method: :delete, data: { confirm: 'Are you sure?' } %>
 
    </li>
  </ul>
<% end %>