<h1> <%= @tvshow.name %> characters!</h1>
<p>I've got <%= @characters.count %> characters ready to go!</p>
<%= link_to "New character", new_tvshow_character_path(@tvshow) %>
<% @characters.each do |b| %>
  <ul>
    <li>
      
      
      name: <%= link_to tvshow_character_path(@tvshow, b) do %>
      <strong><%= b.name %></strong>
      <%end%>
      description: <%= b.description %>
      

 
            <%= link_to 'Delete', tvshow_character_path(@tvshow,b), method: :delete, data: { confirm: 'Are you sure?' } %>
 
    </li>
  </ul>
<% end %>