<h1> <%= @tvshow.name %> characters!</h1>
<p>I've got <%= @characters.count %> characters ready to go!</p>
<%= link_to "New character", new_tvshow_character_path(@tvshow) %>
<% @characters.each do |c| %>
  <ul>
    <li>
      name: <%= link_to character_path(c) do %>
      <strong><%= c.name %></strong>
      <%end%>
    <br>
      description: <%= c.description %>
      <br>

             <% if (current_user == c.user) %>
            <%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "edit", edit_character_path(c) %>
            <% end %>
              
    </li>
  </ul>

  
<% end %>
 <%= link_to 'Back to Tvshows', tvshows_path %>