<p>All of  <%= @character.name %>'s stories</p>
<%= link_to "New story",  new_character_story_path(@character) %>
<% @character.stories.each do |s| %>

<div>
	title: <strong><%= s.title %></strong> <br>
  	Body:  <strong><%= s.body %></strong>

  	 <% if (current_user == s.user) %>
            <%= link_to 'Delete', s, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "edit", edit_story_path(s) %>
        <% end %>
<% end %>
</div>
<%= link_to 'Back to Tvshows', tvshow_characters_path(@character) %>