<!DOCTYPE html>
<html>
<head>
  <title>Fandome</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'layouts/nav' %>
<br>
<br>
<br>

<%= yield %>

</body>
</html>

